.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 2em;
  display: flex;
  justify-content: space-around;
  z-index: 2;
}

.menu a {
  text-transform: uppercase;
  color: #000;
  font-family: "FK Screamer";
  font-weight: 300;
  font-size: 24px;
}
