.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.menu-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 0.5em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.menu-bar a,
.menu-bar p {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-accent);
  font-family: "FK Screamer";
  font-size: 48px;
  font-weight: 300;
  cursor: pointer;
}

.menu.dark .menu-bar a,
.menu.dark .menu-bar p {
  color: var(--color-dark);
}

.menu #logo-dark {
  display: none;
}

.menu #logo-light {
  display: block;
}

.menu.dark #logo-light {
  display: none;
}

.menu.dark #logo-dark {
  display: block;
}

.logo {
  width: 50px;
  padding-top: 0.75em;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 1000;
  pointer-events: none;
}

.menu-col {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 1;
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  will-change: clip-path;
  overflow: hidden;
}

.menu-col:nth-child(1) {
  background-color: var(--color-dark);
}

.menu-col:nth-child(2) {
  background-color: var(--color-accent);
}

.menu-pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
  will-change: clip-path;
}

.menu-bg {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scale(1.5);
  will-change: transform, opacity;
}

.menu-close {
  position: absolute;
  top: 0.5em;
  right: 1em;
  z-index: 100;
}

.menu-close p {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-dark);
  font-family: "FK Screamer";
  font-size: 48px;
  font-weight: 300;
  cursor: pointer;
}

.menu-items {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
}

.menu-item {
  position: relative;
  height: 100px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.menu-item p {
  position: relative;
  line-height: 0;
  height: 0px;
  line-height: 130px;
}

.menu-item p a {
  position: relative;
  display: inline-block;
  top: -20px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-dark);
  font-family: "FK Screamer";
  font-size: 130px;
  font-weight: 300;
  height: 120px;
  line-height: 120px;
  cursor: pointer;
}

.menu-footer {
  position: absolute;
  left: 50%;
  bottom: 2em;
  transform: translateX(-50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.menu-close,
.menu-item,
.menu-footer {
  opacity: 0;
  will-change: opacity;
}

@media (max-width: 900px) {
  .menu-col:nth-child(1) {
    display: none;
  }

  .menu-footer {
    width: 90%;
    text-align: center;
  }
}
