.blocks-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  z-index: 10000;
}

.row {
  flex: 1;
  width: 100%;
  display: flex;
}

.block {
  position: relative;
  flex: 1;
  background: #667067;
  margin: -0.25px;
}

.transition-in .block {
  transform-origin: top;
}

.transition-out .block {
  transform-origin: bottom;
}
