.block-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  overflow: hidden;
  pointer-events: none;
  z-index: 10000;
}

.block {
  width: 100px;
  height: 100px;
  background: var(--color-dark);
  margin: -0.25px;
  pointer-events: none;
}
