@font-face {
  font-family: "FK Screamer";
  font-weight: 300;
  src: url("./assets/fonts/fk-screamer.ttf") format("truetype");
}

@font-face {
  font-family: "PP Editorial New";
  font-weight: 200;
  src: url("./assets/fonts/pp-editorial-new-thin.ttf") format("truetype");
}

@font-face {
  font-family: "PP Editorial New";
  font-weight: 300;
  src: url("./assets/fonts/pp-editorial-new-ultralight.ttf") format("truetype");
}

@font-face {
  font-family: "PP Editorial New";
  font-weight: 500;
  src: url("./assets/fonts/pp-editorial-new-regular.ttf") format("truetype");
}

@font-face {
  font-family: "PP Editorial New";
  font-weight: 700;
  src: url("./assets/fonts/pp-editorial-new-bold.ttf") format("truetype");
}

@font-face {
  font-family: "PP Editorial New";
  font-weight: 800;
  src: url("./assets/fonts/pp-editorial-new-heavy.ttf") format("truetype");
}
